In [10]:
import pandas as pd
import numpy as np
import datetime
#!pip install cryptocompare
import cryptocompare
cryptocompare.cryptocompare._set_api_key_parameter('b7630a944ebbfc1d880c1abc17ecd2ec74e06c27bda3c9921967b02e883f49bc')

'&api_key=b7630a944ebbfc1d880c1abc17ecd2ec74e06c27bda3c9921967b02e883f49bc'

In [70]:
#import daily data for exchange flows
btc_flows = pd.read_csv('data\BTC_flow-in_flow-out_supply_cex.csv')
eth_flows = pd.read_csv('data\ETH_flow-in_flow-out_supply_cex.csv')
btc_flows['date'] = pd.to_datetime(btc_flows['date'].values)
eth_flows['date'] = pd.to_datetime(eth_flows['date'].values)

In [71]:
btc_flows

,date,exch.binance.flow.in.ntv,exch.binance.flow.out.ntv,exch.sply.binance.ntv,exch.bitfinex.flow.in.ntv,exch.bitfinex.flow.out.ntv,exch.sply.bitfinex.ntv,exch.bitmex.flow.in.ntv,exch.bitmex.flow.out.ntv,exch.sply.bitmex.ntv,...,exch.sply.gemini.ntv,exch.huobi.flow.in.ntv,exch.huobi.flow.out.ntv,exch.sply.huobi.ntv,exch.kraken.flow.in.ntv,exch.kraken.flow.out.ntv,exch.sply.kraken.ntv,exch.poloniex.flow.in.ntv,exch.poloniex.flow.out.ntv,exch.sply.poloniex.ntv
0,2016-06-30 00:00:00+00:00,0.000000,0.000000,0.000000,9419.647545,11479.620611,167890.725094,174.761639,75.429668,5705.742053,...,35271.024779,12971.522570,15346.556200,155104.499984,8406.251125,6382.225557,136287.049780,3339.127876,6117.253859,91228.139344
1,2016-07-01 00:00:00+00:00,0.000000,0.000000,0.000000,8738.295316,4498.290320,172130.730090,123.704818,31.153820,5798.293052,...,35165.099632,12039.740758,14307.837400,152836.403342,8871.149823,9800.028022,135358.171581,4521.577464,3908.410875,91841.305934
2,2016-07-02 00:00:00+00:00,0.000000,0.000000,0.000000,1952.210317,5764.101718,168318.838689,49.918362,75.294382,5772.917032,...,35120.704915,9297.210590,18456.844700,143676.769232,6622.037333,5949.571922,136030.636992,1967.826135,3043.257428,90765.874641
3,2016-07-03 00:00:00+00:00,0.000000,0.000000,0.000000,7972.210093,2734.607260,173556.441522,78.658338,81.223512,5770.351858,...,35523.072313,11517.140165,21047.291600,134146.617797,4468.864680,4885.568721,135613.932951,2885.741746,2861.865038,90789.751350
4,2016-07-04 00:00:00+00:00,0.000000,0.000000,0.000000,4649.397890,4360.802519,173845.036893,40.089256,63.012428,5747.428687,...,35708.691777,13214.041096,9823.914900,137536.743993,6464.045017,3302.568090,138775.409878,8081.998348,7402.247393,91469.502304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1850,2021-07-24 00:00:00+00:00,7484.624124,7767.428140,561330.618537,163.782786,481.033719,202426.072614,215.769574,328.007630,110146.095655,...,265615.429072,1905.295583,2028.122866,127418.603961,2531.235795,3191.096732,160626.170019,86.562362,20.738296,28279.456375
1851,2021-07-25 00:00:00+00:00,8945.598201,13479.656748,556839.241845,223.641169,400.043192,202249.700575,30.034319,456.512898,109719.617076,...,266012.024232,1668.081124,3105.582231,125982.395409,2594.017629,3419.990522,160082.008894,173.848648,94.055124,28359.257117
1852,2021-07-26 00:00:00+00:00,25600.767649,27183.122003,555330.723859,1347.931865,3006.888855,200590.743585,927.920557,509.945875,110137.591757,...,268145.411838,6716.648446,5544.852773,127154.792672,5246.785635,5573.906869,159959.742814,156.418256,329.548424,28186.128717
1853,2021-07-27 00:00:00+00:00,21846.736384,15543.689283,561739.591908,517.217500,4725.077305,196382.883779,379.313667,504.228227,110012.677197,...,268349.409074,3558.748193,5954.989561,124759.826071,4056.570311,5050.945812,159376.896249,103.151444,103.280307,28186.084750
1854,2021-07-28 00:00:00+00:00,22546.029711,46409.368857,537934.587187,132.651772,2034.665685,194480.869867,213.768298,277.149818,109949.295677,...,270943.976667,3533.660966,5533.804632,122759.747401,3503.189214,3774.876502,159434.181405,102.816881,100.309545,28188.597681

In [91]:

#import hourly data for btc prices
first_date = pd.to_datetime(btc_flows['date'].values[0])
last_date = datetime.datetime(2021,7,30)
d = last_date
historical_prices = []
while d > first_date:
    prices = cryptocompare.get_historical_price_hour('BTC', 'USD', limit=2000, exchange='CCCAGG', toTs=d)
    historical_prices = prices + historical_prices
    d = datetime.datetime.fromtimestamp(prices[0]['time'])
btc_prices = pd.DataFrame(data=historical_prices)
btc_prices['time'] = pd.to_datetime(btc_prices['time'], unit='s')
btc_prices = btc_prices[btc_prices['time'] >= datetime.datetime(2016,7,1)]
btc_prices['date'] = [pd.to_datetime(t).date() for t in btc_prices['time'].values]

#import hourly data for eth prices
d = last_date
historical_prices = []
while d > first_date:
    prices = cryptocompare.get_historical_price_hour('ETH', 'USD', limit=2000, exchange='CCCAGG', toTs=d)
    historical_prices = prices + historical_prices
    d = datetime.datetime.fromtimestamp(prices[0]['time'])
eth_prices = pd.DataFrame(data=historical_prices)
eth_prices['time'] = pd.to_datetime(eth_prices['time'], unit='s')
eth_prices = eth_prices[eth_prices['time'] >= datetime.datetime(2016,7,1)]
eth_prices['date'] = [pd.to_datetime(t).date() for t in eth_prices['time'].values]

In [98]:
btc_prices

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,date
1482,2016-07-01 00:00:00,670.49,663.55,669.78,1791.00,1197436.22,666.96,direct,,2016-07-01
1483,2016-07-01 01:00:00,672.82,666.23,666.96,2755.94,1853124.98,672.05,direct,,2016-07-01
1484,2016-07-01 02:00:00,677.70,669.34,672.05,5982.76,4061115.03,676.44,direct,,2016-07-01
1485,2016-07-01 03:00:00,679.69,672.17,676.44,3363.81,2284767.85,676.24,direct,,2016-07-01
1486,2016-07-01 04:00:00,684.68,674.77,676.24,6694.84,4591180.05,681.17,direct,,2016-07-01
...,...,...,...,...,...,...,...,...,...,...
46018,2021-07-29 18:00:00,39684.38,39411.87,39618.65,1522.31,60192666.11,39542.07,direct,,2021-07-29
46019,2021-07-29 19:00:00,39742.43,39480.04,39542.07,1104.82,43746589.83,39689.78,direct,,2021-07-29
46020,2021-07-29 20:00:00,39830.20,39633.40,39689.78,657.39,26117626.58,39719.05,direct,,2021-07-29
46021,2021-07-29 21:00:00,39765.45,39522.47,39719.05,852.32,33782716.22,39564.38,direct,,2021-07-29
46022,2021-07-29 22:00:00,39818.85,39546.84,39564.38,493.08,19587555.30,39796.90,direct,,2021-07-29

In [72]:
#import daily data for btc prices
first_date = pd.to_datetime(btc_flows['date'].values[0])
last_date = datetime.datetime(2021,7,29)
d = last_date
historical_prices = []
while d > first_date:
    prices = cryptocompare.get_historical_price_day('BTC', 'USD', limit=2000, exchange='CCCAGG', toTs=d)
    historical_prices = prices + historical_prices
    d = datetime.datetime.fromtimestamp(prices[0]['time'])
btc_daily_prices = pd.DataFrame(data=historical_prices)
btc_daily_prices['time'] = pd.to_datetime(btc_daily_prices['time'], unit='s')
btc_daily_prices = btc_daily_prices[btc_daily_prices['time'] >= datetime.datetime(2016,6,30)]

#import daily data for eth prices
d = last_date
historical_prices = []
while d > first_date:
    prices = cryptocompare.get_historical_price_day('ETH', 'USD', limit=2000, exchange='CCCAGG', toTs=d)
    historical_prices = prices + historical_prices
    d = datetime.datetime.fromtimestamp(prices[0]['time'])
eth_daily_prices = pd.DataFrame(data=historical_prices)
eth_daily_prices['time'] = pd.to_datetime(eth_daily_prices['time'], unit='s')
eth_daily_prices = eth_daily_prices[eth_daily_prices['time'] >= datetime.datetime(2016,6,30)]

In [73]:
btc_daily_prices

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
146,2016-06-30,673.04,631.24,636.54,88203.81,5.821506e+07,670.02,direct,
147,2016-07-01,685.11,661.09,670.02,92227.36,6.239448e+07,674.57,direct,
148,2016-07-02,700.46,671.46,674.57,67380.47,4.655580e+07,698.06,direct,
149,2016-07-03,701.49,644.61,698.06,99268.29,6.659146e+07,661.64,direct,
150,2016-07-04,679.03,644.04,661.64,63905.01,4.275694e+07,675.16,direct,
...,...,...,...,...,...,...,...,...,...
1996,2021-07-24,34519.75,33429.09,33637.92,20217.05,6.860172e+08,34282.56,direct,
1997,2021-07-25,35382.63,33892.36,34282.56,22685.72,7.819298e+08,35369.93,direct,
1998,2021-07-26,40553.85,35270.24,35369.93,100269.43,3.840983e+09,37269.52,direct,
1999,2021-07-27,39535.50,36422.45,37269.52,58179.65,2.197490e+09,39496.69,direct,
2000,2021-07-28,40906.09,38809.89,39496.69,66747.14,2.662886e+09,40030.01,direct,

In [74]:
#create final dataframes
#exchange flows +  daily prices
#btc
btc_daily_data = btc_flows
btc_daily_data['close'] = btc_daily_prices['close'].values
btc_daily_data['high'] = btc_daily_prices['high'].values
btc_daily_data['low'] = btc_daily_prices['low'].values

#eth
eth_daily_data = eth_flows
eth_daily_data['close'] = eth_daily_prices['close'].values
eth_daily_data['high'] = eth_daily_prices['high'].values
eth_daily_data['low'] = eth_daily_prices['low'].values

In [75]:
btc_daily_data

,date,exch.binance.flow.in.ntv,exch.binance.flow.out.ntv,exch.sply.binance.ntv,exch.bitfinex.flow.in.ntv,exch.bitfinex.flow.out.ntv,exch.sply.bitfinex.ntv,exch.bitmex.flow.in.ntv,exch.bitmex.flow.out.ntv,exch.sply.bitmex.ntv,...,exch.sply.huobi.ntv,exch.kraken.flow.in.ntv,exch.kraken.flow.out.ntv,exch.sply.kraken.ntv,exch.poloniex.flow.in.ntv,exch.poloniex.flow.out.ntv,exch.sply.poloniex.ntv,close,high,low
0,2016-06-30 00:00:00+00:00,0.000000,0.000000,0.000000,9419.647545,11479.620611,167890.725094,174.761639,75.429668,5705.742053,...,155104.499984,8406.251125,6382.225557,136287.049780,3339.127876,6117.253859,91228.139344,670.02,673.04,631.24
1,2016-07-01 00:00:00+00:00,0.000000,0.000000,0.000000,8738.295316,4498.290320,172130.730090,123.704818,31.153820,5798.293052,...,152836.403342,8871.149823,9800.028022,135358.171581,4521.577464,3908.410875,91841.305934,674.57,685.11,661.09
2,2016-07-02 00:00:00+00:00,0.000000,0.000000,0.000000,1952.210317,5764.101718,168318.838689,49.918362,75.294382,5772.917032,...,143676.769232,6622.037333,5949.571922,136030.636992,1967.826135,3043.257428,90765.874641,698.06,700.46,671.46
3,2016-07-03 00:00:00+00:00,0.000000,0.000000,0.000000,7972.210093,2734.607260,173556.441522,78.658338,81.223512,5770.351858,...,134146.617797,4468.864680,4885.568721,135613.932951,2885.741746,2861.865038,90789.751350,661.64,701.49,644.61
4,2016-07-04 00:00:00+00:00,0.000000,0.000000,0.000000,4649.397890,4360.802519,173845.036893,40.089256,63.012428,5747.428687,...,137536.743993,6464.045017,3302.568090,138775.409878,8081.998348,7402.247393,91469.502304,675.16,679.03,644.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1850,2021-07-24 00:00:00+00:00,7484.624124,7767.428140,561330.618537,163.782786,481.033719,202426.072614,215.769574,328.007630,110146.095655,...,127418.603961,2531.235795,3191.096732,160626.170019,86.562362,20.738296,28279.456375,34282.56,34519.75,33429.09
1851,2021-07-25 00:00:00+00:00,8945.598201,13479.656748,556839.241845,223.641169,400.043192,202249.700575,30.034319,456.512898,109719.617076,...,125982.395409,2594.017629,3419.990522,160082.008894,173.848648,94.055124,28359.257117,35369.93,35382.63,33892.36
1852,2021-07-26 00:00:00+00:00,25600.767649,27183.122003,555330.723859,1347.931865,3006.888855,200590.743585,927.920557,509.945875,110137.591757,...,127154.792672,5246.785635,5573.906869,159959.742814,156.418256,329.548424,28186.128717,37269.52,40553.85,35270.24
1853,2021-07-27 00:00:00+00:00,21846.736384,15543.689283,561739.591908,517.217500,4725.077305,196382.883779,379.313667,504.228227,110012.677197,...,124759.826071,4056.570311,5050.945812,159376.896249,103.151444,103.280307,28186.084750,39496.69,39535.50,36422.45
1854,2021-07-28 00:00:00+00:00,22546.029711,46409.368857,537934.587187,132.651772,2034.665685,194480.869867,213.768298,277.149818,109949.295677,...,122759.747401,3503.189214,3774.876502,159434.181405,102.816881,100.309545,28188.597681,40030.01,40906.09,38809.89

In [106]:
#exchange flows + hourly prices
#btc
btc_date_counts = btc_prices['date'].value_counts().values
temp_df = []
for row, n in zip(btc_flows.itertuples(index=False), btc_date_counts):
    temp_df.extend([list(row)]*n)
extended_btc_flows = pd.DataFrame(temp_df, columns=btc_flows.columns)
btc_data = extended_btc_flows
btc_data['close'] = btc_prices['close'].values
btc_data['high'] = btc_prices['high'].values
btc_data['low'] = btc_prices['low'].values
btc_data['date'] = btc_prices['time'].values

#eth
eth_date_counts = eth_prices['date'].value_counts().values
temp_df = []
for row, n in zip(eth_flows.itertuples(index=False), eth_date_counts):
    temp_df.extend([list(row)]*n)
extended_eth_flows = pd.DataFrame(temp_df, columns=eth_flows.columns)
eth_data = extended_eth_flows
eth_data['close'] = eth_prices['close'].values
eth_data['high'] = eth_prices['high'].values
eth_data['low'] = eth_prices['low'].values
eth_data['date'] = eth_prices['time'].values

In [107]:
btc_data

,date,exch.binance.flow.in.ntv,exch.binance.flow.out.ntv,exch.sply.binance.ntv,exch.bitfinex.flow.in.ntv,exch.bitfinex.flow.out.ntv,exch.sply.bitfinex.ntv,exch.bitmex.flow.in.ntv,exch.bitmex.flow.out.ntv,exch.sply.bitmex.ntv,...,exch.sply.huobi.ntv,exch.kraken.flow.in.ntv,exch.kraken.flow.out.ntv,exch.sply.kraken.ntv,exch.poloniex.flow.in.ntv,exch.poloniex.flow.out.ntv,exch.sply.poloniex.ntv,close,high,low
0,2016-07-01 00:00:00,0.000000,0.000000,0.000000,9419.647545,11479.620611,167890.725094,174.761639,75.429668,5705.742053,...,155104.499984,8406.251125,6382.225557,136287.049780,3339.127876,6117.253859,91228.139344,666.96,670.49,663.55
1,2016-07-01 01:00:00,0.000000,0.000000,0.000000,9419.647545,11479.620611,167890.725094,174.761639,75.429668,5705.742053,...,155104.499984,8406.251125,6382.225557,136287.049780,3339.127876,6117.253859,91228.139344,672.05,672.82,666.23
2,2016-07-01 02:00:00,0.000000,0.000000,0.000000,9419.647545,11479.620611,167890.725094,174.761639,75.429668,5705.742053,...,155104.499984,8406.251125,6382.225557,136287.049780,3339.127876,6117.253859,91228.139344,676.44,677.70,669.34
3,2016-07-01 03:00:00,0.000000,0.000000,0.000000,9419.647545,11479.620611,167890.725094,174.761639,75.429668,5705.742053,...,155104.499984,8406.251125,6382.225557,136287.049780,3339.127876,6117.253859,91228.139344,676.24,679.69,672.17
4,2016-07-01 04:00:00,0.000000,0.000000,0.000000,9419.647545,11479.620611,167890.725094,174.761639,75.429668,5705.742053,...,155104.499984,8406.251125,6382.225557,136287.049780,3339.127876,6117.253859,91228.139344,681.17,684.68,674.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44536,2021-07-29 18:00:00,22546.029711,46409.368857,537934.587187,132.651772,2034.665685,194480.869867,213.768298,277.149818,109949.295677,...,122759.747401,3503.189214,3774.876502,159434.181405,102.816881,100.309545,28188.597681,39542.07,39684.38,39411.87
44537,2021-07-29 19:00:00,22546.029711,46409.368857,537934.587187,132.651772,2034.665685,194480.869867,213.768298,277.149818,109949.295677,...,122759.747401,3503.189214,3774.876502,159434.181405,102.816881,100.309545,28188.597681,39689.78,39742.43,39480.04
44538,2021-07-29 20:00:00,22546.029711,46409.368857,537934.587187,132.651772,2034.665685,194480.869867,213.768298,277.149818,109949.295677,...,122759.747401,3503.189214,3774.876502,159434.181405,102.816881,100.309545,28188.597681,39719.05,39830.20,39633.40
44539,2021-07-29 21:00:00,22546.029711,46409.368857,537934.587187,132.651772,2034.665685,194480.869867,213.768298,277.149818,109949.295677,...,122759.747401,3503.189214,3774.876502,159434.181405,102.816881,100.309545,28188.597681,39564.38,39765.45,39522.47
44540,2021-07-29 22:00:00,22546.029711,46409.368857,537934.587187,132.651772,2034.665685,194480.869867,213.768298,277.149818,109949.295677,...,122759.747401,3503.189214,3774.876502,159434.181405,102.816881,100.309545,28188.597681,39796.90,39818.85,39546.84

In [108]:

#save as csv
btc_data.to_csv('btc_hourly_data.csv')
btc_daily_data.to_csv('btc_daily_data.csv')
eth_data.to_csv('eth_hourly_data.csv')
eth_daily_data.to_csv('eth_daily_data.csv')